*{
    font-family:Eb Garamond,serif;
}
.navbar{
    background-color: rgb(14,34,58);
    height:200px;
}
.nav-item{
    margin:25%;
    margin-bottom:0;
    padding-bottom:0;
    
}
.nav-link{
    color:white;
}
.welcome{
    background-color:rgb(126, 160, 192);
    height:140px;
    color:white;
}
.box{  
    height:80px;
    border-top-right-radius:3px;
    border-bottom-left-radius: 3px;
    border-color:white;
    background-color:rgb(14,34,58);
    color:rgb(155, 155, 95);

}
footer{
    background-color:rgb(14,34,58);
    color:rgb(155, 155, 95);
}